a {
    text-decoration: none;
}


a[href*=".ru"] {
    color: orange;
}

a[href*="google"] {
    color: #666;
}

a[href*="http://maps.yandex.ru"]:after  {
    content: " ⇱";
    display: inline-block;
    margin-left: 2px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);


}


